*{
   margin: 0;
   padding: 0;
   box-sizing: content-box;   
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: green;
    height: 100px;    

}
header img{
    max-width: 80px;
    border-radius: 10px;
    margin: 20px;
}
