body{
    height: 100vh;
    width: 100vw;
}
.container{
    width: 400px;
    height: 400px;
    position: relative;
    margin: 150px auto;
    background-color: aquamarine;
}

.square{
    width: 50px;
    height: 50px;
    background-color: deeppink;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.circle{
    width: 50px;
    height: 50px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;   
}

.circle.top{
    top:10px;
    left:50%;
    transform: translate(-50%, 0);
}
.circle.right{
    top:50%;
    right:10px;
    transform: translate(0, -50%);
}
.circle.bottom{
    bottom:10px;
    left:50%;
    transform: translate(-50%, 0);
}
.circle.left{
    top:50%;
    left:10px;
    transform: translate(0, -50%);
}