.flex-container{
    width: 800px;
    height: 100px;
    border: 1px solid #000;
    box-sizing: border-box;
    display: flex;
}
.box {
    width: 50px;
    height: 50px;
}
.pink{
    background-color: palevioletred;
}
.blue{
    background-color: aqua;
}
.green{
    background-color:palegreen;
}
.start{
    justify-content: flex-start;
}
.end{
    justify-content: flex-end;
}
.center{
    justify-content: center;
}
.between{
    justify-content: space-between;
}
.around {
    justify-content: space-around;
}
.evenly{
    justify-content: space-evenly;
}